<h4>Post detils</h4>


<!-- Вывод поста -->
<p>
  <br />
  Author name: <%= @results.name %>, Added at: <%= @results.created_at %>, Post id: <%= @results.id %>
  <br />
  <%= @results.post %>
</p>
<br />
<h4>Comments:</h4>

<!-- Вывод коментариев для поста -->
<% @comment.each do |post| %>
    <p>
      Author name: <%= post['name']  %>, Added at: <%= post['created_at'] %>
      <br />
      <%= post['comment'] %>
      <br />
    </p>
    <hr />
<% end %>
<!-- Форма ввода коментария -->
<p>
<form action="/detail/<%= @results.id %>" method="post" role="form" >
  <p name="comment[post_id]" value=""></p>
  <textarea class="form-control"  name="comment[post_id]" ><%= @results.id %></textarea>
  <textarea class="form-control" rows="1" name="comment[name]" placeholder="Type comment text here"></textarea>
  <textarea class="form-control" rows="6" name="comment[comment]" placeholder="Type comment text here"></textarea>
  <br />
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>
</p>